*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e9f0f4;
}

.container {
  width: 320px;
  margin-left: 50px;
  margin-top: 50px;
}

@mixin stripes($left, $color) {
  position: relative;

  &:before,
  &:after {
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $color;
    content: '';
  }

  &:before {
    left: $left;
  }

  &:after {
    left: $left + 4px;
  }
}

.header {
  padding: 11px 20px 11px 50px;
  background-color: #2e3641;
  @include stripes(29px, #79818b);

  h1 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
  }
}

.fancy-checkbox,
footer {
  height: 29px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 1px #dbdbdb -0px 0px 1px #dbdbdb;
  -webkit-box-shadow: 0px 0px 1px #dbdbdb, -0px 0px 1px #dbdbdb;
  box-shadow: inset 0px 0px 1px #dbdbdb, inset -0px 0px 1px #dbdbdb;
  @include stripes(29px, #f2e3df);
}

.fancy-checkbox {
  .checkMe {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 9px;
    height: 9px;
    background: url(./assets/checkbox_empty.png);

    &:hover {
      cursor: pointer;
    }
  }

  .checked {
    background: url(./assets/checkbox_checked.png);
  }

  .undone,
  .done {
    font-size: 12px;
    position: absolute;
    left: 44px;
    top: 8px;
  }

  .undone {
    color: #2e3641;
  }

  .done {
    color: #9eb2c0;
    text-decoration: line-through;
  }

  .trashbin {
    margin: 0;
    border: none;
    position: absolute;
    right: 12px;
    top: 9px;
    width: 11px;
    height: 12px;
    background: url(./assets/trashbin_unchecked.png);

    &:hover {
      cursor: pointer;
    }
  }

  .trashbinChecked {
    background: url(./assets/trashbin_checked.png);
  }
}

footer #add {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 8px;
  height: 8px;
  z-index: 2;
  background: url(./assets/add.png);
  border: 0px;
  box-shadow: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

footer #input {
  position: absolute;
  left: 44px;
  top: 8px;
  border: none;
  height: 12px;
  width: 75%;
  font-size: 12px;
}

li {
  cursor: move;
}

#saveButton{
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}